
@use 'base';

$primary-color: #333;

.landing-page {
    position: relative;
}

.landing-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr repeat(3, 1fr 1fr);
    overflow: hidden;
    position: relative;
}
.landing-grid div {
    z-index: 6;
}
.landing-grid > img {
    z-index: 5;
}
.welcome-item {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transition: all 1s ease-out;
}
%pin {
    grid-column: 1;
    width: min-content;
    height: min-content;
    justify-self: end;
    font-size: 20px;
    z-index: 7;
}
#pin1 {
    @extend %pin;
    grid-row: 2;
}
.welcome-item.hidden {
    opacity: 0;
    transform: translateY(-33%);
    transition: all 1s ease-out;
}

.threeD-project-card {
    opacity: 0;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    transition: all 1s ease-out;
}
#pin2 {
    @extend %pin;
    grid-row: 4;
}
.threeD-project-card.visible {
    opacity: 1;
    transform: translateX(10%);
    transition: all 1s ease-out;
}

.threeD-staircase {
    opacity: 0;
    grid-row: 4;
    grid-column: 1;
    overflow: visible;
    transition: all 0.5s ease-out;
}
.threeD-staircase.visible {
    opacity: 1;
    
    transform: translateX(-10%);
    transition: all 1s ease-out;
}


.junction-project-card {
    opacity: 0;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    transition: all 1s ease-out;
}
#pin3 {
    @extend %pin;
    grid-row: 6;
}
.junction-project-card.visible {
    opacity: 1;
    transform: translateX(10%);
    transition: all 1s ease-out;
}

.junction-enemy {
    opacity: 0;
    height: 100%;
    grid-row: 6;
    grid-column: 2 / 3;
    overflow: visible;
    transition: all 1s ease-out;
}
.junction-enemy.visible {
    opacity: 1;
    
    transform: translateX(-10%);
    transition: all 1s ease-out;
}
.divider {
    z-index: 4;
}
#d1 {
    position: absolute;
    top: 600px;
    left:0px;
}
.cube-unit {
    fill-opacity: 0.9;
    stroke-miterlimit: 0;
}

.blue-cube {
  --mainColor: #009CDE;
  --strokeColor: #0079ad;
  --lightColor: #00affa;
  --darkColor: #008bc7;
}
.red-cube {
  --mainColor: #B22222;
  --strokeColor: #da3434;
  --lightColor: #ff3232;
  --darkColor: #a50000;
}




@keyframes moveX {
    /* Default value 35px */
  to { transform: translateX(var(--translate, 35px)); }
}
@keyframes moveY {
    /* Default value 35px */
  to { transform: translateY(var(--translate, 35px)); }
}
.m-left, .m-right {
  animation: 2s moveX alternate infinite paused;
}
.m-up, .m-down {
  animation: 2s moveY alternate infinite paused;
}
.m-left { --translate: -28px; }
.m-right { --translate: 42px; }
.m-up { --translate: -24px; }
.m-down { --translate: 20px; }
svg:hover * { 
  animation-play-state: running; 
}


