




 body {
     margin: 0;
 }
 .threeD-page {
    display: grid;
    grid-template-areas: 
        "header"
        "header-body"
        "photo"
        "text";
}
.header {
    margin: 2.5% 7.5%;
    max-width: 500px;
    justify-self: center;
}
.divider {
    width: 100%;
}

 @media (min-width: 1200px) {
     .threeD-page {
         grid-template-areas: 
         "header"
         "header-body"
         "photo text";
     }
 }